.createTask{
    flex:4;
    margin-left: 100px;
}

.info{
    margin-top: 20px;
}

.crtbtn{
    margin-top: -20px !important ;
    margin-bottom: 20px;
    padding:5px;
    background-color: darkblue;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    border:none;
    font-size: 15px;
    cursor: pointer;
}

.info{
    padding:8px;
    background-color: lightgreen;
    border-radius: 10px;
}